#nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav-bar .nav-left{
    float: left;
}

#nav-bar a{
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

#nav-bar .nav-left a:hover{
    text-decoration: underline;
}

#nav-bar .nav-right a:hover{
    background-color: #111;
}

#nav-bar .nav-right{
    float: right;
}

main h1{
    margin-top: 50px;
    text-align: center;
}

main h2{
    text-align: center;
}

main h3{
    text-align: center;
}

.image{
    width: 330px;
    height: 180px;
}

#image-container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width: 1200px){

    #image-container{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

}

@media (max-width: 500px){
    #image-container{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

#puppy figcaption{
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

#penguin figcaption{
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

#piglet figcaption{
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

#projects-container{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project-image{
    width: 400x;
    height: 350px;
}

#calculator figcaption{
    margin-top: 10px;
    text-align: center;
}

#calculator figcaption a{
    font-size: 25px;
    color: red;
    text-decoration: underline;
}

#calculator figcaption a:hover{
    color: black;
    text-decoration: none;
}

#etch-a-sketch figcaption{
    margin-top: 10px;
    text-align: center;
}

#etch-a-sketch figcaption a{
    font-size: 25px;
    color: yellowgreen;
    text-decoration: underline;
}

#etch-a-sketch figcaption a:hover{
    color: black;
    text-decoration: none;
}