#nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav-bar .nav-left{
    float: left;
}

#nav-bar a{
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

#nav-bar .nav-left a:hover{
    text-decoration: underline;
}

#nav-bar .nav-right a:hover{
    background-color: #111;
}

#nav-bar .nav-right{
    float: right;
}

main h1{
    margin-top: 20%;
    text-align: center;
}

main h2{
    text-align: center;
}