#nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav-bar .nav-left{
    float: left;
}

#nav-bar a{
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

#nav-bar .nav-left a:hover{
    text-decoration: underline;
}

#nav-bar .nav-right a:hover{
    background-color: #111;
}

#nav-bar .nav-right{
    float: right;
}

main h1{
    margin-top: 50px;
    text-align: center;
}

main h2{
    text-align: center;
}

main h3{
    text-align: center;
}

.image{
    width: 330px;
    height: 180px;
}

#puppy{
    margin-top: 50px;
    margin-right: 5px;
    float: left;
}

#puppy figcaption{
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

#penguin{
    margin-top: 50px;
    margin-right: 5px;
    margin-left: 5px;
    float: left;
}

#penguin figcaption{
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

#piglet{
    margin-top: 50px;
    margin-left: 5px;
    float: right;
}

#piglet figcaption{
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}